body {
	width: 100%;
	margin: 0;
}

.container {
	width: 670px;
	margin: auto;
}

	.container .top-table {
		width: 100%;
	}

		.container .top-table tr {
		}

			.container .top-table tr td {
				width: 50%;
				text-align: center;
			}

	.container .parts {
		width: 100%;
	}

.center {
	text-align: center;
}

.wide {
	width: 100%;
}

.right {
	text-align: right;
}

.parts tr:nth-child(odd) {
	background: #eee;
}

.parts tr > *:not(:first-child) {
	padding: 3px;
}

.parts {
	border-collapse: collapse;
}

.parts tr td {
	border-bottom: 1px solid black;
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

.q {
	width: 30px;
}

.image {
	width: 80px;
}

.check {
	width: 60px;
	height: 60px;
	border: 1px #999 solid;
	border-radius: 3px;
	margin: auto;
	background: white;
	position: relative;
	display: block;
	cursor: pointer;
}

	.check input {
		opacity: 0;
	}

		.check input:checked + span:after {
			content: '✔';
			position: absolute;
			font-size: 50px;
			left: 10px;
			top: -5px;
			cursor: pointer;
		}


.parts tbody {
	cursor: pointer;
}

.nopad {
	padding: 0 !important;
	font-size: 13px;
}

.border-top {
	border-top: 2px solid black;
}